body {
    background-color: #242836;
  }

h1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300 bold;
    text-align: center;
    margin-top: 50px;
  }

  img {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 250px;
    height: 250px;
  }

  .linked 
    {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 300 bold;
        text-align: center;
        margin-top: 100px;
    }


    a {
        color: red;
        text-decoration: none;
        
    }

  .container {
    position: relative;
    margin: auto;
    width: 250px;
  }
  .wrap,
  .circle {
    -webkit-transition: -webkit-transform 500ms linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 500ms linear;
    -moz-transform-style: preserve-3d;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
  }
  .circle {
    position: absolute;
    border: 3px solid #aaaaaa;
    border-radius: 250px;
    margin: auto;
  }
  .circle.c2,
  .circle.center {
    border: 2px solid #666666;
    width: 140px;
    height: 140px;
    top: 55px;
    left: 55px;
  }
  .circle.center {
    background: #ffffff;
    width: 30px;
    height: 30px;
    top: 110px;
    left: 110px;
    box-shadow: 0 0 5px #fff;
  }
  .wrap-electron {
    border: 0px solid  #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: electron 3s linear infinite;
    -moz-animation: electron 3s linear infinite;
  }
  .electron {
    width: 12px;
    height: 12px;
    background: #aaaaaa;
    left: 50%;
    margin-left: -8px;
    border: none;
    top: -7px;
    -webkit-transform-origin: 50% 50%;
  }
  .c2 .wrap-electron {
    -webkit-animation: electron 2s linear infinite;
    -moz-animation: electron 2s linear infinite;
  }
  .c2 .electron {
    top: -6px;
  }
  .wrap {
    border: 0px solid #aaaaaa;
    -webkit-animation: lateral 15s ease-in-out infinite;
    -moz-animation: lateral 15s ease-in-out infinite;
  }
  .wrap.r {
    -webkit-animation: lateralRevert 8s linear infinite;
    -moz-animation: lateralRevert 8s linear infinite;
  }
  .vertical {
    -webkit-animation: vertical 8s linear infinite;
    -moz-animation: vertical 8s linear infinite;
  }
  .horizontal {
    -webkit-animation: horizontalRevert 6s linear infinite;
    -moz-animation: horizontalRevert 6s linear infinite;
  }
  .vertical.c2 {
    -webkit-animation: vertical 4s linear infinite;
    -moz-animation: vertical 4s linear infinite;
  }
  .horizontal.c2 {
    -webkit-animation: horizontalRevert 3s linear infinite;
    -moz-animation: horizontalRevert 3s linear infinite;
  }
  @-webkit-keyframes electron {
    from {
      -webkit-transform: rotateZ(0deg);
    }
    to {
      -webkit-transform: rotateZ(360deg);
    }
  }
  @-webkit-keyframes horizontal {
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes horizontalRevert {
    from {
      -webkit-transform: rotateY(360deg);
    }
    to {
      -webkit-transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes vertical {
    from {
      -webkit-transform: rotateX(0deg);
    }
    to {
      -webkit-transform: rotateX(360deg);
    }
  }
  @-webkit-keyframes verticalRevert {
    from {
      -webkit-transform: rotateX(360deg);
    }
    to {
      -webkit-transform: rotateX(0deg);
    }
  }
  @-webkit-keyframes lateral {
    from {
      -webkit-transform: rotateZ(0deg);
    }
    to {
      -webkit-transform: rotateZ(360deg);
    }
  }
  @-webkit-keyframes lateralRevert {
    from {
      -webkit-transform: rotateZ(360deg);
    }
    to {
      -webkit-transform: rotateZ(0deg);
    }
  }
  @-moz-keyframes electron {
    from {
      -moz-transform: rotateZ(0deg);
    }
    to {
      -moz-transform: rotateZ(360deg);
    }
  }
  @-moz-keyframes horizontal {
    from {
      -moz-transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(360deg);
    }
  }
  @-moz-keyframes horizontalRevert {
    from {
      -moz-transform: rotateY(360deg);
    }
    to {
      -moz-transform: rotateY(0deg);
    }
  }
  @-moz-keyframes vertical {
    from {
      -moz-transform: rotateX(0deg);
    }
    to {
      -moz-transform: rotateX(360deg);
    }
  }
  @-moz-keyframes verticalRevert {
    from {
      -moz-transform: rotateX(360deg);
    }
    to {
      -moz-transform: rotateX(0deg);
    }
  }
  @-moz-keyframes lateral {
    from {
      -moz-transform: rotateZ(0deg);
    }
    to {
      -moz-transform: rotateZ(360deg);
    }
  }
  @-moz-keyframes lateralRevert {
    from {
      -moz-transform: rotateZ(360deg);
    }
    to {
      -moz-transform: rotateZ(0deg);
    }
  }

  
  .container2 {
    color: white;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 3rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
  